spring:
  application:
    name: notification-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/health_notification_db

  cloud:
    config:
      enabled: false

  main:
    allow-bean-definition-overriding: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: healthapp.healthyfittn@gmail.com
    password: hpfk vmdf ptif kuod
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          debug: true
          ssl:
            trust: smtp.gmail.com
        transport:
          protocol: smtp
    test-connection: false

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

server:
  port: 8084

fcm:
  credentials:
    path: firebase-service-account.json

notification:
  admin-email: admin@healthapp.com

app:
  frontend:
    url: http://localhost:4200

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}-${random.uuid}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.healthapp.notification: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
